img {
    max-width: 100%;
}

.planetPagediv {
    padding: 90px 160px;
    background: #000;
}

.planet-img {
    width: 100%;
}

.planet-div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.planet-img-div {
    /* border: 2px solid #fff; */
    margin: 30px;
    border-radius: 10px;
    padding: 10px;
}

.planet4 {
    width: 82%;
    padding-top: 50px;
    padding-left: 40px;
}

.planet3div {
    width: 329px;
    padding: 0;
}

.planet5 {
    width: 80%;
    padding-top: 50px;
    padding-left: 40px;
}

@media (max-width: 1230px) {
    .planet4 {
        padding-top: 28px;
        padding-left: 24px;
    }
    .planet5 {
        padding-top: 28px;
        padding-left: 24px;
    }
}

@media (max-width: 1000px) {
    .planetPagediv {
        padding: 60px 100px;
    }
}

@media (max-width: 800px) {
    .planetPagediv {
        padding: 40px 60px;
    }
    .planet-img {
        width: 90%;
    }
    .planet4 {
        padding-top: 18px;
        padding-left: 24px;
    }
    .planet5 {
        padding-top: 18px;
        padding-left: 24px;
    }
    .planet-div {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 450px) {
    .planet-img {
        width: 100%;
    }
    .planetPagediv {
        padding: 30px 40px;
    }
}

@media (max-width: 360px) {
    .planetPagediv {
        padding: 20px 20px;
    }
}