img {
    max-width: 100%;
}

.planetPagediv {
    padding: 90px 160px;
    background: #000;
}

.planet-img {
    width: 100%;
}

.planet-div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.planet-img-div {
    border: 2px solid #fff;
    margin: 30px;
    border-radius: 10px;
    padding: 10px;
}

.planet4 {
    width: 62%;
    margin-left: 51px;
    margin-top: 60px;
}

@media (max-width: 1000px) {
    .planetPagediv {
        padding: 60px 100px;
    }
}

@media (max-width: 800px) {
    .planetPagediv {
        padding: 40px 60px;
    }
    .planet-img {
        width: 80%;
    }
    .planet-div {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 450px) {
    .planet-img {
        width: 100%;
    }
    .planetPagediv {
        padding: 30px 40px;
    }
}

@media (max-width: 360px) {
    .planetPagediv {
        padding: 20px 20px;
    }
}