@font-face {
    font-family: "Future Earth";
    src: url(../../Font/future_earth/Future\ Earth\ v2.ttf);
}

.social-div-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin: auto;
}

.social-div {
    width: 45px;
    margin: 0 10px;
    transition: 0.4s;
}

.smart-div {
    text-align: center;
    padding-bottom: 30px;
}


.smart-div p a {
    color: white;
    text-decoration: none;
}

.smart-div p {
    transition: 0.4s;
    width: fit-content;
    margin: auto;
}

.smart-div p:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.social-div:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.social-div img {
    max-width: 100%;
}

.connect-h {
    text-align: center;
    font-family: "Future Earth";
    font-size: 24px;
    color: rgb(155, 155, 211);
    margin-top: 60px;
}

@media (max-width: 450px) {
    .social-div {
        margin: 0 10px;
    }
}