.social-div-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    padding: 30px 0;
    margin: auto;
}

.social-div {
    width: 60px;
    padding: 4px 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 53px;
    padding-top: 4px;
    margin: 0 20px;
    transition: 0.4s;
}

.social-div:hover {
    border: 2px solid rgb(90, 90, 214);
    cursor: pointer;
}

.social-div img {
    max-width: 100%;
}

.medium-div {
    padding: 0;
}

.medium-div img {
    width: 84%;
    padding-top: 10px;
    padding-left: 13px;
}

.twitter-div {
    padding: 0;
}
.twitter-div img {
    width: 93%;
    padding: 4px 3px 5px 8px;
}
.instagram-div img {
    padding-top: 7px;
    padding-left: 6px;
    width: 90%;
}
.discord-div img {
    padding-left: 3px;
    padding-top: 3px;
}

@media (max-width: 450px) {
    .social-div {
        margin: 0 10px;
    }
}