.about-timer-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../images/aboutTimerBg.jpg');
    background-position: centre;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.6);
    padding: 40px 200px;
}

@media (max-width:990px) {
    .about-timer-page {
        display: block;
        padding: 90px;
    }
}

@media (max-width:756px) {
    .about-timer-page {
        padding: 70px;
    }
}

@media (max-width:530px) {
    .about-timer-page {
        padding: 30px;
    }
}