@font-face {
    font-family: "Transformers";
    src: url(../../Font/transformers_movie/Transformers\ Movie.ttf);
}

.team-card-div-wrapper {
    color: #fff;
    margin: auto;
    width: fit-content;
    display: flex;
    padding: 0 40px;
}

a {
    text-decoration: none;
    color: #fff;
}

.team-img-div img {
    transition: 0.4s;
}

.team-img-div img:hover {
    cursor: pointer;
    transform: scale(1.08);
}

.team-card-div {
    width: 300px;
    max-width: 90%;
    height: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.team1 {
    margin-top: 200px;
}

.team-text-div {
    padding:  10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Epilogue', sans-serif;
}

.team-text-div h2 {
    margin-right: 10px;
}

.twitter-logo-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.twitter-logo {
    width: 40px;
}

.team {
    text-align: center;
}

.team h1 {
    font-family: "Transformers";
    font-size: 40px;
    color: rgb(155, 155, 211);
}

@media (max-width: 1120px) {
    .team-card-div-wrapper {
        padding: 0 20px;
    }
}

@media (max-width: 1050px) {
    .team-card-div-wrapper {
        flex-direction: column;
        padding: 0 40px;
    }
    .team1 {
        margin-top: 0;
    }
}

@media (max-width: 500px) {
    .team-text-div {
        padding:  0px;
    }
    .team-card-div {
        width: 80%;
    }
}

@media (max-width: 350px) {
    .team-text-div {
        padding: 10px 0;
    }
}