img {
    max-width: 100%;
    max-height: 100%;
}

.logo-div {
    width: 120px;
}

.nav-wrapper {
    background-color: #000;
    padding: 15px 0;
}

.nav-div {
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-ul {
    list-style: none;
    display: flex;
}

.nav-li {
    margin: 0 20px;
    font-size: 22px;
}

.nav-li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s all;
}

.nav-li a:hover {
    color: rgb(235, 217, 217);
}

.nav-li a::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: rgb(235, 217, 217);
    transition: width 0.3s;
}

.nav-li a:hover::after {
    width: 100%;
    transition: width 0.3s;
}

.hamburger, .cross {
    color: #fff;
    font-size: 32px;
    display: none;
    cursor: pointer;
}


@media (max-width: 1250px) {
    .nav-div {
        width: 1000px;
    }
}

@media (max-width: 1050px) {
    .nav-div {
        width: 900px;
    }
}

@media (max-width: 950px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .nav-ul-div {
        display: none;
        position: absolute;
        top: 124px;
        width: 100%;
        height: 100%;
        z-index: 100;
        left: 0;
    }
    .nav-ul {
        display: block;
        background-color: black;
        width: 100%;
        padding: 30px;
    }
    
    .nav-li {
        margin: 20px;
    }
    .nav-li a::after{
        content: '';
        display: block;
        width: 0%;
        height: 2px;
        background-color: black;
        transition: width 0.3s;
    }
    .nav-wrapper {
        width: 100%;
        padding: 15px 40px;
    }
    .nav-div {
        width: 100%;
        align-items: flex-start;
    }
    .display {
        display: block;
    }
    .hide {
        display: none;
    }
}