.team-page-div {
    padding: 60px 0;
    padding-bottom: 0;
    background-position: centre;
    background-size: cover;
    background-blend-mode: darken;
}
@media (max-width: 680px) {
    .team-page-div {
        padding: 40px 0;
        padding-bottom: 0;
    }
}