.roadmap-img-div {
    width: 100%;
    margin-bottom: -20px;
}
.roadmap-img-div img {
    width: 100%;
}

.roadmap img {
    width: 270px;
    max-width: 94%;
}
.roadmap {
    background-color: black;
    text-align: center;
}